<body class="teams">
<ul class='title-list' align='center'>
      <li class='title-ele'> Nazwa </li>
      <li class='title-ele'> Miasto </li>
      <li class='title-ele'> Symbol </li>
      <li class='title-ele'> Poziom </li>
      <li class="title-ele"> Usun</li>
      <li class = "title-ele"> Show </li>
      <li class = "title-ele"> Edit </li>
      <li class="title-ele"> Members </li>
    </ul>
<% @all_team.each do |t| %>
<ul class="name-list" align="center">
  <li class="name-list"><div class="name-list"> <%= t.name %></div> </li>
  <li class="name-list"> <div class="name-list"> <%= t.city %></div> </li>
  <li class="name-list"> <div class="name-list"> <%= t.symbol %></div> </li>
  <li class="name-list"> <div class="name-list"> <%= t.level %></div> </li>
  <li class="name-list"> <div class="name-list"> <%=link_to("Usuń", team_path(t), method: :delete) %> </div></li>
  <li class="name-list"><div class="name-list">  <%= link_to("Wyświetl",team_path(t)) %></div> </li>
  <li class="name-list"><div class="name-list">  <%= link_to("Edytuj",edit_team_path(t)) %></div> </li>
  <li class="name-list"><div class="name-list"> <button onclick="loadDoc(this,'test',number)" >Wyswietl</button></div></li>
    <div class="present">
      <% @all_player.each do |p| %>
      <% if p.team_id == t.id %>
            <br>
      <ul class="under-ele">
        <li class="under-ele"><div class="under-ele"> <%= p.nickname %></div> </li>
        <li class="under-ele"> <div class="under-ele"><%= p.name %></div> </li>
        <li class="under-ele"> <div class="under-ele"><%= p.surname %></div> </li>
        <li class="under-ele"><div class="under-ele"> <%= p.age %></div>  </li>
      </ul>

      <% end %>
      <%end%>
    </div>
    <br>
</ul>
<% end %>
</ul>

<%= debug(params)%>
</body>
