<body class="matches">
  <ul class="title-list">
    <li class="title-ele"> Czas </li>
    <li class="title-ele"> Liczba miejsc </li>
    <li class="title-ele"> Prize </li>
    <li class="title-ele"> Gra </li>
    <li class="title-ele"> zjazd </li>
    <li class="title-ele"> Delete </li>
    <li class="title-ele"> Show </li>
    <li class="title-ele"> Edit </li>
  </ul>
<% @all_matches.each do |m| %>
<ul class="name-list">
  <li class="name-list"><div class="name-list"><%= m.time %></div> </li>
  <li class="name-list"><div class="name-list"><%= m.seats_number %> </div></li>
  <li class="name-list"><div class="name-list"><%= m.price %></div> </li>
  <li class="name-list"><div class="name-list"><%= Game.find(m.game_id).name %></div> </li>
  <li class="name-list"><div class="name-list"><%= Convention.find(m.convention_id).name %></div> </li>
  <li class="name-list"><div class="name-list"><%=link_to("Usuń", match_path(m), method: :delete) %></div> </li>
  <li class="name-list"><div class="name-list"><%=link_to("Wyświetl", match_path(m)) %></div> </li>
  <li class="name-list"><div class="name-list"><%= link_to("Edytuj",edit_match_path(m)) %></div> </li>
    <br>
</ul>
<%end%>
</body>
