<body class="matches">
<%= link_to("Nowy mecz", new_match_path) %>
<table>
  <tr>
    <th> Id </th>
    <th> Czas </th>
    <th> Liczba miejsc </th>
    <th> Nagroda </th>
    <th> Nazwa gry </th>
    <th> Nazwa zjazdu </th>
  </tr>
<% @all_matches.each do |m| %>
<tr>
  <td> <%= @indeks %> </td>
  <% @indeks=@indeks+1 %>
  <td> <%= m.time %> </td>
  <td> <%= m.seats_number %> </td>
  <td> <%= m.price %> </td>
  <td> <%= Game.find(m.game_id).name %> </td>
  <td><%= Convention.find(m.convention_id).name %> </td> 
  <td> <%=link_to("Usuń", match_path(m), method: :delete) %> </td>
  <td> <%=link_to("Wyświetl", match_path(m)) %> </td>
  <td> <%= link_to("Edytuj",edit_match_path(m)) %> </td>
</tr>
<%end%>
</table>
</body>
