<body class="matches">
<%= form_for @match do |m| %>
<%if @match.errors.any? %>
<% @match.errors.each do |attr,msg|  %>
<div class="message-box"><%=msg%></div>
<% end %>
<%end %>
  <%= m.label "Czas" %><br>
  <%= m.text_field :time, class: "input-style" %>
  <%= m.label "Miejsca(liczba)" %><br>
  <%= m.text_field :seats_number, class: "input-style" %>
  <%= m.label "Nagroda" %><br>
  <%= m.text_field :price, class: "input-style" %>
  <%= m.label "Gra" %><br>
  <%= m.collection_select :game_id, Game.all, :id, :name, {prompt: "Wybierz"},{ class: "select-tab"} %>
  <%= m.label "Zjazd" %><br>
  <%= m.collection_select :convention_id, Convention.all, :id, :name, {prompt: "Wybierz"}, {class: "select-tab"} %>

  <%= m.submit "Accept", class: 'submit-style'%>

<%end%>

</body>
