<body class="participations">
<%= form_for [@player,@change_participation] do |p| %>
<%if @change_participation.errors.any? %>
<% @change_participation.errors.each do |attr,msg|  %>
<div class="message-box"><%=msg%></div>
  <%= p.label "Wybierz gre:" %><br>
  <%= p.text_field :match_id, class: "input-style" %>
  <%= p.submit "Accept", class: 'submit-style' %>


<%end%>
  <%= debug(params) %>
</body>
