<body class="participations">
<% if @player!=nil %>
  <div><%= link_to("Uczestnicz w meczu", new_player_participation_path(@player) )%> </div> <br>
<%end%>
  <ul class="title-list">
    <li class="title-ele"> Gracz </li>
    <li class="title-ele" > Match </li>
    <li class="title-ele" style="width: 220px"> Create </li>
    <li class="title-ele"> Delete </li>
    <li class="title-ele"> Show </li>
    <li class="title-ele"> Edit </li>
  </ul>
  <% if @player!=nil %>
<% @all_participation.each do |p| %>
<ul class="name-list"
  <% if @player.id == p.player_id %>
  <li class="name-list"><div class="name-list"><%= Player.find(p.player_id).nickname %></div> </li>
  <li class="name-list"><div class="name-list"><%= p.match_id %></div> </li>
  <li class="name-list" style="width: 220px"><div class="name-list" style="width: 220px"><%= p.created_at %></div> </li>
  <li class="name-list"><div class="name-list"><%=link_to("Usuń", player_participation_path(@player,p), method: :delete) %></div> </li>
  <li class="name-list"><div class="name-list"><%=link_to("Wyświetl",player_participation_path(@player,p)) %></div> </li>
  <li class="name-list"><div class="name-list"><%= link_to("Edytuj", edit_player_participation_path(@player,p)) %></div> </li>
  <%end%>
  <br>
</ul>
  <%end%>
  <%else%>
  <% @all_participation.each do |p| %>
  <ul class="name-list">
    <li class="name-list"><div class="name-list"><%= Player.find(p.player_id).nickname %></div> </li>
    <li class="name-list"><div class="name-list"><%= p.match_id %></div></div> </li>
    <li class="name-list" style="width: 220px"><div class="name-list" style="width: 220px"><%= p.created_at %></div> </li>
    <li class="name-list"><div class="name-list"><%=link_to("Usuń", player_participation_path(Player.find(p.player_id),p), method: :delete) %></div> </li>
    <li class="name-list"><div class="name-list"><%=link_to("Wyświetl",player_participation_path(Player.find(p.player_id),p)) %></div> </li>
    <li class="name-list"><div class="name-list"><%= link_to("Edytuj", edit_player_participation_path(Player.find(p.player_id),p)) %></div> </li>
    <br>
  </ul>
    <%end%>
    <%end%>
</body>
