<body class="participations">
<% if @player!=nil %>
  <div><%= link_to("Uczestnicz w meczu", new_player_participation_path(@player) )%> </div> <br>
<%end%>
<table align='center'>
  <tr>
    <th> Id </th>
    <th> Nazwa gracza </th>
    <th> Id rozgrywki </th>
    <th> Data utowrzenia </th>
  </tr>
  <% if @player!=nil %>
<% @all_participation.each do |p| %>
<tr>
  <% if @player.id == p.player_id %>
  <td> <%= p.id %> </td>
  <td> <%= Player.find(p.player_id).nickname %> </td>
  <td> <%= p.match_id %> </td>
  <td><%= p.created_at %> </td>
  <td> <%=link_to("Usuń", player_participation_path(@player,p), method: :delete) %> </td>
  <td> <%=link_to("Wyświetl",player_participation_path(@player,p)) %> </td>
  <td> <%= link_to("Edytuj", edit_player_participation_path(@player,p)) %> </td>
  <%end%>
</tr>
  <%end%>
  <%else%>
  <% @all_participation.each do |p| %>
  <tr>
    <td> <%= p.id %> </td>
    <td> <%= Player.find(p.player_id).nickname %> </td>
    <td> <%= p.match_id %> </td>
    <td> <%= p.created_at %> </td>
    <td> <%=link_to("Usuń", player_participation_path(Player.find(p.player_id),p), method: :delete) %> </td>
    <td> <%=link_to("Wyświetl",player_participation_path(Player.find(p.player_id),p)) %> </td>
    <td> <%= link_to("Edytuj", edit_player_participation_path(Player.find(p.player_id),p)) %> </td>
  </tr>
    <%end%>
    <%end%>
</table>
</body>
