<body class="games">
<%= link_to("Nowa gra",new_game_path) %>
<table>
  <tr>
    <th>Nazwa</th>
    <th>Liczba graczy</th>
    <th>Czas gry</th>
    <th>Ocena </th>
  </tr>
<% @all_games.each do |f| %>
<tr>
  <td> <%= f.name %> </td>
  <td> <%= f.number_players %> </td>
  <td> <%= f.time %> </td>
  <td> <%= f.rate %> </td>
  <td> <%= link_to("Usuń", game_path(f),method: :delete) %> </td>
  <td> <%= link_to("Wyświetl", game_path(f)) %> </td>
</tr>
<%end%>
</tables>
</body>
