<body class="games">
  <script>
  function loadDoc() {
        document.getElementById("present").style.display = 'none';
  }
  </script>
  <ul class="row-list">
<ul class='name-list'>

    <li>Nazwa</li>
    <li>Liczba graczy</li>
    <li>Czas gry</li>
    <li>Ocena </li>
  </ul>
<% @all_games.each do |f| %>
<ul class="name-list">
  <li> <%= f.name %> </li>
  <li> <%= f.number_players %> </li>
  <li> <%= f.time %> </li>
  <li> <%= f.rate %> </li>
  <li> <%= link_to("Usuń", game_path(f),method: :delete) %> </li>
  <li> <%= link_to("Wyświetl", game_path(f)) %> </li>
  <li> <%= link_to("Edytuj", edit_game_path(f)) %> </li>
  <li><button type="button" onclick="loadDoc()" >Wysiwetl</button>
</ul>
<!-- <div id="present">
</div> -->
<%end%>
</body>
