<body class="games">

<div> Nazwa: <%= @game.name %> </div>
<div> Liczba graczy <%= @game.number_players %> </div>
<div> Czas gry: <%= @game.time %> </div>
<div> Ocena: <%= @game.rate %> </div>

<%=link_to("Wróć",games_path) %>
</body>
