<body class="conventions">
<table align='center'>
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Start</th>
    <th>Koniec</th>
    <th>Kraj</th>
    <th>Poziom</th>
  </tr>
<% @all_conventions.each do |c| %>
<tr>
  <td> <%=c.id %> </td>
  <td> <%= c.name %> </td>
  <td><%= c.start %> </td>
  <td><%=c.end %> </td>
  <td><%= c.country %> </td>
  <td> <%= c.level %> </td>
  <td> <%= link_to("Usuń", convention_path(c),method: :delete) %> </td>
  <td> <%= link_to("Wyświetl", convention_path(c)) %> </td>
  <td> <%=link_to("Edytuj",edit_convention_path(c)) %> </td>
</tr>
<%end%>
</table>
</body>
