<body class="conventions">
<%= flash.now[:alert] %>
<% flash.clear %>

<%= form_for @convention do |c| %>
<%if @convention.errors.any? %>
<% @convention.errors.each do |attr,msg|  %>
<div class="message-box"><%=msg%></div>
<% end %>
<%end %>
  <%= c.label "Nazwa", class: "label-style"%> <br>
  <%= c.text_field :name, class: "input-style"  %>
  <%= c.label "Start" %> <br>
  <%= c.text_field :start, class: "input-style" %>
  <%= c.label "Koniec" %> <br>
  <%=c.text_field :end, class: "input-style" %>
  <%= c.label "Kraj" %> <br>
  <%= c.text_field :country, class: "input-style" %>
  <%= c.label "Poziom" %> <br>
  <%= c.text_field :level, class: "input-style" %>
  <%= c.submit 'Accept', class: 'submit-style' %>

<%end%>
</body>
