<div> Nazwa: <%= @convention.name %> </div>
<div> Start: <%= @convention.start %> </div>
<div> Koniec: <%=@convention.end %> </div>
<div> Kraj: <%=@convention.country %> </div>
<div> Poziom: <%= @convention.level %> </div>

<%= link_to("Wróć", conventions_path) %>
