<body class="teams">
  <ul class="side-menu"
<li class="side"><%= link_to("Dodaj druzyne",new_team_path, id: "side-link") %></li>
</ul>
<div class = "text">
  <table>
    <tr>
      <th> Nazwa </th>
      <th> Miasto </th>
      <th> Symbol </th>
      <th> Poziom </th>
    </tr>
<% @all_team.each do |t| %>
<tr>
  <td> <%= t.name %> </td><br>
  <td> <%= t.city %> </td> <br>
  <td> <%= t.symbol %> </td> <br>
  <td> <%= t.level %> </td> <br>
</tr>
<% end %>
</table>

<%= debug(params) %>
</div>
</body>
