<!-- test funkcji plsql -->
<% @stat.each do |t| %>
  <% @stats = t["staty"] %>
  <% @stats[0] = ''%>
  <% @stats[@stats.length-1]='' %>
  <% @stats = @stats.to_s.split(",") %>
  <ul class="stat-box">
    <div style="color: #d62d20;  font-size: 25; border-bottom: 3px solid #d62d20"> GRACZE </div>
    <li class="stat-box"><div>Liczba graczy: <%= @stats[0] %> </div></li>
    <li class="stat-box"><div>Średnia wiek: <%= @stats[6][0..4] %> </div></li>
    <li class="stat-box"><div>Średnia liczba rozgrywek graczy: <%= @stats[7] %> </div></li>
  </ul>

  <ul class="stat-box">
    <div style="color: #d62d20;  font-size: 25; border-bottom: 3px solid #d62d20"> DRUŻYNY </div>
    <li class="stat-box"><div>Liczba drużyn: <%= @stats[2] %> </div></li>
    <li class="stat-box"><div>Średnia liczba członków: <%= @stats[8] %> </div></li>
    <li class="stat-box"><div>Najpopularniejsze miasto: <%= @stats[10] %> </div></li>
    <li class="stat-box"><div>Najpopularniejsza drużyna: <%= @stats[11] %> </div></li>
    <li class="stat-box"><div>Średni poziom drużyn: <%= @stats[9][0..4] %> </div></li>
  </ul>

  <ul class="stat-box">
    <div style="color: #d62d20; font-size: 25; border-bottom: 3px solid #d62d20"> ZJAZDY </div>
    <li class="stat-box"><div>Liczba zjazdów: <%= @stats[3] %> </div></li>
    <li class="stat-box"><div>Najdłuższy zjazd: <%= @stats[12] %> </div></li>
    <li class="stat-box"><div>Najpopularniejszy zjazd: <%= @stats[13] %> </div></li>
    <li class="stat-box"><div>Najwiekszy zjazd: <%= @stats[14] %> </div></li>
  </ul>

  <ul class="stat-box">
    <div style="color: #d62d20; font-size: 25;  border-bottom: 3px solid #d62d20"> GRY </div>
    <li class="stat-box"><div>Liczba gier: <%= @stats[4] %> </div></li>
    <li class="stat-box"><div>Najpopularniejsza gra: <%= @stats[15] %> </div></li>
    <li class="stat-box"><div>Najlepiej oceniana gra: <%= @stats[16] %> </div></li>
    <li class="stat-box"><div>Najgorzej oceniana: <%= @stats[17] %> </div></li>
  </ul>

  <ul class="stat-box">
    <div style="color: #d62d20;  font-size: 25; border-bottom: 3px solid #d62d20  "> ROZGRYWKI </div>
    <li class="stat-box"><div>Liczba rozgrywki: <%= @stats[5] %> </div></li>
    <li class="stat-box"><div>Najdłuższa rozgrywka: <%= @stats[19] %> na <%= @stats[18]%> </div></li>
    <li class="stat-box"><div>Największa rozgrywka: <%=@stats[20] %> na <%= @stats[23]%>  </div></li>
    <li class="stat-box"><div>Najbardziej prestiżowa rozkrywka:  <%=@stats[21] %> na <%= @stats[22]%> </div></li>
  </ul>
<%end%>
