<body class="games">

<% if flash[:error] %>
  <div class="message-box"><%=flash[:error] %></div>
<%end%>
<ul class='title-list'>
    <li class="title-ele">Nazwa</li>
    <li class="title-ele">Liczba graczy</li>
    <li class="title-ele">Czas gry</li>
    <li class="title-ele">Ocena </li>
  </ul>
<% @all_games.each do |f| %>
<ul class="name-list">
  <li class="name-list"><div class="name-list"> <%= f.name %></div> </li>
  <li class="name-list"><div class="name-list"> <%= f.number_players %></div> </li>
  <li class="name-list"><div class="name-list"> <%= f.time %></div> </li>
  <li class="name-list"><div class="name-list"> <%= f.rate %></div> </li>
  <li class="name-list"><div class="name-list"> <%= link_to("Usuń", game_path(f),method: :delete) %> </div></li>
  <li class="name-list"><div class="name-list"> <%= link_to("Wyświetl", game_path(f)) %></div> </li>
  <li class="name-list"><div class="name-list"> <%= link_to("Edytuj", edit_game_path(f)) %></div> </li>
  <li class="name-list"><div class="name-list"><button type="button" onclick="loadDoc()" >Wysiwetl</button></div></li>
  <br>
  <br>
</ul>
<%end%>
</body>
