<body class="games">
<%= form_for @new_game do |f|%>
<%if @new_game.errors.any? %>
<% @new_game.errors.each do |attr,msg|  %>
<div class="message-box"><%=msg%></div>
<% end %>
<%end %>
  <%= f.label "Nazwa" %> <br>
  <%= f.text_field :name, class: "input-style"  %>
  <%=f.label "Czas" %> <br>
  <%=f.text_field :time, class: "input-style"  %>
  <%= f.label "Gracze(liczba)" %> <br>
  <%= f.text_field :number_players, class: "input-style"  %>
  <%= f.label "Ocena" %> <br>
  <%= f.text_field :rate, class: "input-style"  %>
  <%= f.submit "Accept", class: 'submit-style'%>

<%end%>
</body>
