<body class="player">

  <% if flash[:error] %>
    <div class="message-box"><%=flash[:error] %></div>
  <%end%>
<ul class="title-list">
    <li class="title-ele"> Nickname </li>
    <li class="title-ele"> Imię </li>
    <li class="title-ele"> Nazwisko </li>
    <li class="title-ele"> Wiek </li>
    <li class="title-ele"> Team </li>
    <li class="title-ele"> Delete </li>
    <li class="title-ele"> Team </li>
    <li class="title-ele"> Team </li>
  </ul>
<% @all_player.each do |p| %>
<ul class="name-list">
  <li class="name-list"> <%= p.nickname %> </li>
  <li class="name-list"> <%=p.name %> </li>
  <li class="name-list"> <%=p.surname %> </li>
  <li class="name-list"> <%= p.age %> </li>
  <li class="name-list"> <%= Team.find(p.team_id).name %> </li>
  <li class="name-list"> <%= link_to("Usuń", player_path(p),method: :delete) %> </li>
  <li class="name-list">  <%= link_to("Wyświetl", player_path(p)) %> </li>
  <li class="name-list"> <%=link_to("Edytuj",edit_player_path(p)) %> </li>
</ul>
<br>
<br>
<%end%>
<br>


<%= debug(params) %>
</body>
