<body class="player">
<center><p1> Wyszukiwanie: </p1></center>
<ul class="title-list">
    <li class="title-ele"> Nickname </li>
    <li class="title-ele"> Imię </li>
    <li class="title-ele"> Nazwisko </li>
    <li class="title-ele"> Wiek </li>
    <li class="title-ele"> Team </li>
    <li class="title-ele"> Rozgrywki </li>
  </ul>
<% @player.each do |p| %>
<ul class="name-list">
  <li class="name-list"> <%= p.nickname %> </li>
  <li class="name-list"> <%=p.name %> </li>
  <li class="name-list"> <%=p.surname %> </li>
  <li class="name-list"> <%= p.age %> </li>
  <li class="name-list"> <%= Team.find(p.team_id).name %> </li>
  <li class="name-list"><div class="name-list"> <button class="button" onclick="loadDoc(this,'test',number)" >Wyswietl</button></div></li>
    <div class="present">
      <% @all_participations.each do |m| %>
      <% if m.player_id == p.id %>
            <br>
            <br>
      <ul class="under-ele">
        <li class="under-ele"><div class="under-ele"> <%= Match.find_by_id(m.match_id).time %></div> </li>
        <li class="under-ele"> <div class="under-ele"><%= Match.find_by_id(m.match_id).seats_number %></div> </li>
        <li class="under-ele"> <div class="under-ele"><%= Match.find_by_id(m.match_id).price %></div> </li>
        <% @mat = Match.find_by_id(m.match_id) %>
        <li class="under-ele"><div class="under-ele"> <%= Convention.find_by_id(@mat.convention_id).name %></div>  </li>
        <li class="under-ele"><div class="under-ele"> <%= Convention.find_by_id(@mat.game).name %></div>  </li>
      </ul>

      <% end %>
      <%end%>
    </div>
</ul>
<br>
<br>
<%end%>
<br>
</body>
