<body class="matches">

<div> Czas: <%= @match.time %> </div>
<div> Liczba miejsc: <%=@match.seats_number %> </div>
<div> Nagroda: <%=@match.price %> </div>
<div> Nazwa Gry: <%= Game.find(@match.game_id).name %> </div>
<div> Nazwa zjazdu: <%= Convention.find(@match.convention_id).name %> </div>

<%= link_to("Wróć", matches_path) %>
</body>
