<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=link_to("Gracze",players_path) %>
<%=link_to("Drużyny",teams_path) %>
<%=link_to("Zjazdy",conventions_path) %>
<%=link_to("Gry",games_path) %>
<%=link_to("Rozgrywki",matches_path) %>
<br>
<%= yield %>

</body>
</html>
