<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="pasek">
<li><%=link_to("Gracze",players_path,id: "menu",class: "player") %></li><li><%=link_to("Drużyny",teams_path,id: "menu",class: "teams") %></li><li><%=link_to("Zjazdy",conventions_path,id: "menu",class: "conventions") %></li><li><%=link_to("Gry",games_path,id: "menu",class: "games") %></li><li><%=link_to("Rozgrywki",matches_path,id: "menu",class: "matches") %></li><li><%= link_to("Uczestnictwa", participations_path, id: "menu", class: "participation") %> </li>
</ul>
<ul id="side-menu">
<li><%= link_to("Nowe",new_game_path,id: "side-link") %></li>
</ul>
<%= yield %>
</body>
</html>
