<body class="player">

<%= flash[:alert] %>
<% flash.clear %>

<%= form_for @change_player do |f|%>
  <%= f.label "Nick:" %><br>
  <%= f.text_field :nickname, class: "input-style" %>
<br>
  <%= f.label "Imię:" %><br>
  <%= f.text_field :name, class: "input-style" %>
<br>
  <%= f.label "Nazwisko:" %><br>
  <%= f.text_field :surname, class: "input-style" %>
<br>
  <%= f.label "Wiek:" %><br>
  <%= f.text_field :age, class: "input-style" %>
<br>
  <%= f.label "Nazwa drużyny:" %><br>
  <%= f.collection_select :team_id,Team.all,:id, :name, prompt: true, class: "select-tab" %>
<br>

  <%= f.submit "Accept", class: 'submit-style' %>

<%end%>
</body>
