<body class="player">
  <ul id="side-menu"
<li><%= link_to("Nowy gracz", new_player_path,id: "side-link") %></li>
</ul>
<table>
  <tr>
    <th> Id </th>
    <th> Nickname </th>
    <th> Imię </th>
    <th> Nazwisko </th>
    <th> Wiek </th>
    <th> Nazwa drużyny </th>
  </tr>
<% @all_player.each do |p| %>
<tr>
  <td> <%= p.id %> </td>
  <td><%= p.nickname %> </td>
  <td> <%=p.name %> </td>
  <td> <%=p.surname %> </td>
  <td> <%= p.age %> </td>
  <td><%= Team.find(p.team_id).name %> </td>
  <td><%=link_to("Uczestnictwa",player_participations_path(p)) %></td>
  <td><%= link_to("Usuń", player_path(p),method: :delete) %> </td>
  <td> <%= link_to("Wyświetl", player_path(p)) %> </td>
  <td> <%=link_to("Edytuj",edit_player_path(p)) %> </td>
</tr>
<%end%>
</table>
</body>
