<body class="player">
<%= link_to("Nowy gracz", new_player_path) %>
<% @all_player.each do |p| %>
  <div>Nick:<%= p.nickname %> </div> <br>
  <div> Imię: <%=p.name %> </div> <br>
  <div> Nazwisko: <%=p.surname %> </div> <br>
  <div> Wiek: <%= p.age %> </div> <br>
  <div> Drużyna: <%= Team.find(p.team_id).name %> </div> <br>
  <%=link_to("Uczestnictwa",player_participations_path(p)) %>
  <div> ========================== </div> <br>
<%end%>
</body>
