<body class="player">
<%= form_for @new_player do |f|%>
<%if @new_player.errors.any? %>
<% @new_player.errors.each do |attr,msg|  %>
<div class="message-box"><%=msg%></div>
<% end %>
<%end %>
  <%= f.label "Nick:" %><br>
  <%= f.text_field :nickname, class: "input-style" %>
  <%= f.label "Imię:" %><br>
  <%= f.text_field :name, class: "input-style" %>
  <%= f.label "Nazwisko:" %><br>
  <%= f.text_field :surname, class: "input-style" %>
  <%= f.label "Wiek:" %><br>
  <%= f.text_field :age, class: "input-style" %>
  <%= f.label "Nazwa drużyny:" %><br>
  <%= f.collection_select :team_id,Team.all,:id, :name, {prompt: "Wybierz"}, {class: "select-tab"} %>

  <%= f.submit "Accept", class: 'submit-style' %>

<%end%>
<%= debug(params) %>
</body>
