<body class="conventions">

  <% if flash[:error] %>
    <div class="message-box"><%= flash[:error] %></div>
  <%end%>

  <ul class="title-list">
    <li class="title-ele">Nazwa</li>
    <li class="title-ele">Start</li>
    <li class="title-ele">Koniec</li>
    <li class="title-ele">Kraj</li>
    <li class="title-ele">Poziom</li>
  </ul>
<% @all_conventions.each do |c| %>
<ul class="name-list">
  <li class="name-list"><%= c.name %> </li>
  <li class="name-list"><%= c.start %> </li>
  <li class="name-list"><%=c.end %> </li>
  <li class="name-list"><%= c.country %> </li>
  <li class="name-list"><%= c.level %> </li>
  <li class="name-list"><%= link_to("Usuń", convention_path(c),method: :delete) %> </li>
  <li class="name-list"><%= link_to("Wyświetl", convention_path(c)) %> </li>
  <li class="name-list"><%=link_to("Edytuj",edit_convention_path(c)) %> </li>
</ul>
<br>
<br>
<%end%>
</table>
</body>
